.Color {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Color p, .Color a {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin: 40px;
}

